<html>
<head>
    <title>search</title>
</head>
    <body>
        <h1>food search</h1>
        <form action = "/search/" method = "post">
            {% csrf_token %}
            <p>Enter the coordinates:</p>
            <p>
                foodname: <input type = "text" name = "foodname" placeholder="all food name" >
                category: <input type = "text" name = "category" placeholder="all category" >
                <input type = "submit" value = "Search" >
            </p>
        </form> 

        <h1>Result:</h1>
        <p> foodname | measure | grames | calories | protein |fat|fiber|carbs| category </p>
        {%if foods %}
        {% for food in foods %}
        <p>
            <b>{{food.foodname}}</b> |
            {{food.measure}} |
            {{food.grams}} |
            {{food.calories}} |
            {{food.protein}} |
            {{food.fat}} |
            {{food.fiber}} |
            {{food.carbs}} |
            <b>{{food.category}}</b> |
        </p>
        {% endfor %}
        {% else %}
        <p>Nothing matches</p>
        {% endif %}
    </body>
</html>