<html>
    <head><title>Shop base</title></head>
        <p>
        <a href = "{% url 'food:index' %}">Home</a> | 
        {% if user.is_staff %}
        <a href = "{% url 'food:admin_page' %}">Admin Page</a> | 
        <a href = "{% url 'food:logout' %}">Log Out</a> 
        {% elif user.is_authenticated %}
        <a href = "{% url 'food:logout' %}">Log Out</a> 
        {% else %}
        <a href = "{% url 'food:login' %}">Log In</a> 
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>