{% extends 'base_foot.html' %}
{% block content %}
<html>
<head>
  <title>Individual food details </title>
</head>
<body>
 
    <h1>food Tracking</h1>
    <p>: 
        <b>Occurs in {{food.foodname }}</b> |  
        The measure that  are {{food.measure}}	| 
        The grams that  are {{food.grams}} |
        The calories that  are{{food.calories}}
        The protein that  are {{food.protein}}	| 
        The fat that  are {{food.fat}} |
        The fiber that  are{{food.fiber}}
        The carbs that  are {{food.carbs}} |
        The category that  are{{food.category}} | 
        The price is ${{price}}	
     </p>
     #<p><a href ="{% url 'food:success' id=food.id %}">Add it into cart</a></p>


   
</body>
</html>
{% endblock %}