
{% extends "base_foot.html" %}
{% block title %} login {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <!-- account -->
                <div class="form-group col-md-4">
                    <label for="username">昵称</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <!-- email -->
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <!-- password -->
                <div class="form-group col-md-4">
                    <label for="password">Set password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <!-- confirm -->
                <div class="form-group col-md-4">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
                <!-- submit -->
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}